* {
  font-family: "Roboto", sans-serif; }

header {
  position: relative; }

nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 50px;
  background: #212121; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none; }

.menu_link {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF; }

.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px; }
  .menu_item:last-child {
    border-right: none; }

.subheader {
  margin-top: 50px;
  width: 100%;
  height: 87px;
  background: rgba(0, 0, 0, 0.6);
  mix-blend-mode: normal;
  position: absolute; }

.subheader_logo {
  max-width: 100%;
  display: block;
  margin-top: 16px; }

.subheader_official {
  font-weight: 100;
  font-size: 13px;
  color: #FFFFFF;
  opacity: 0.6;
  margin-top: 6px; }

.subheader_call {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 15px; }

.subheader_phone {
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #FFFFFF; }

button.subheader_button {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background-image: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21); }
  button.subheader_button:hover {
    background-image: none;
    background-color: #1EACC7; }

.promo {
  min-height: 800px;
  background: url("../img/uber_bg_first.jpg") center center/cover no-repeat;
  padding: 150px 0 135px 0; }

.promo_header {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 60px;
  margin: 0; }

.promo_subheader {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 36px;
  margin: 0;
  margin-top: 16px; }

.promo_descr {
  margin-top: 23px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF; }

.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background-image: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21); }
  .promo_btn:hover {
    background-image: none;
    background-color: #1EACC7; }

section.reasons {
  min-height: 850px; }

.reasons {
  padding-top: 18px;
  padding-bottom: 64px; }

.row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

button.black_thin_btn {
  margin: auto;
  margin-top: 18px;
  line-height: 0;
  border: none;
  display: block;
  width: 115px;
  height: 27px;
  background: #000000;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF; }

h2.title {
  margin-top: 32px;
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222; }

.subtitle {
  margin-top: 19px;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  color: #222222; }

.reasons_img_container {
  width: 116px;
  height: 116px;
  background: #1EACC7;
  border-radius: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.reasons h3 {
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  color: #1EACC7; }

.reasons_descr {
  font-weight: 300;
  font-size: 15px;
  color: #202020; }

.reasons .row {
  margin-top: 26px; }

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/grid_bg.jpg"); }
  .mobile .row {
    margin-top: 32px; }
  .mobile_item {
    position: relative;
    width: 320px;
    height: 280px;
    margin: 0 auto 18px auto;
    padding-top: 92px; }
    .mobile_item_1 {
      background: url("../img/card-order.jpg") center center/cover no-repeat; }
    .mobile_item_2 {
      background: url("../img/card-supply.jpg") center center/cover no-repeat; }
    .mobile_item_3 {
      background: url("../img/card-prices.jpg") center center/cover no-repeat; }
    .mobile_item_4 {
      background: url("../img/card-payment.jpg") center center/cover no-repeat; }
    .mobile_item_5 {
      background: url("../img/card-feedback.jpg") center center/cover no-repeat; }
    .mobile_item_6 {
      background: url("../img/card-share.jpg") center center/cover no-repeat; }
    .mobile_item_subtitle {
      font-weight: 400;
      font-size: 24px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF; }
    .mobile_item_plus {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 26px;
      height: 26px;
      background-color: black;
      border-radius: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      bottom: 35px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      cursor: pointer; }
      .mobile_item_plus::before {
        content: "";
        display: block;
        width: 14px;
        height: 2px;
        background-color: #1EACC7;
        -webkit-transition: 0.3s all;
        transition: 0.3s all; }
      .mobile_item_plus::after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        height: 14px;
        width: 2px;
        background-color: #1EACC7;
        -webkit-transition: 0.3s all;
        transition: 0.3s all; }
      .mobile_item_plus:hover:before, .mobile_item_plus:hover::after {
        background-color: #FF5656; }

.choice {
  padding-top: 57px;
  min-height: 900px;
  background: url("../img/choice_bg.jpg") center center/cover no-repeat; }
  .choice .black_thin_btn {
    background: #FFFFFF;
    color: #070716;
    margin: 0 auto; }
  .choice .title,
  .choice .subtitle {
    color: #FFFFFF;
    margin-bottom: 0; }
  .choice .subtitle {
    margin-top: 0; }
  .choice img.choice_car {
    display: block;
    margin: 0 auto;
    margin-top: 55px; }
  .choice_tagline {
    display: block;
    margin: 0 auto;
    width: 327px;
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #222222; }

.require {
  padding: 50px 0 84px 0; }
  .require .row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start; }
  .require_block {
    margin: 33px 0; }
    .require_block_nmb {
      margin-bottom: 0px; }
  .require_title {
    font-size: 22px;
    line-height: 24px;
    color: #1EACC7; }
  .require_list {
    list-style-type: none;
    padding-left: 50px;
    margin-top: 24px; }
    .require_list li {
      position: relative;
      font-size: 17px;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 10px; }
      .require_list li::before {
        content: "";
        display: block;
        position: absolute;
        left: -32px;
        top: 3px;
        width: 21px;
        height: 20px;
        background: url("../icons/check_blue.png") center center/cover no-repeat; }
  .require_descr {
    font-weight: 300;
    font-size: 17px;
    color: #1EACC7; }
  .require .warning .require_title {
    color: #FF5656; }
  .require .warning .require_list li::before {
    background: url("../icons/check_red.png") center center/cover no-repeat; }

.worldwide {
  position: relative;
  background: url("../img/bg_world.jpg") center center/contain no-repeat;
  /* background-color: #070716 */
  height: 720px;
  padding-top: 48px; }
  .worldwide .black_thin_btn {
    color: black;
    background-color: #fff;
    margin-top: 0; }
  .worldwide .title {
    color: #fff;
    margin-top: 26px; }
  .worldwide .subtitle {
    margin-top: 10px;
    color: #fff; }
  .worldwide .cities_link {
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-weight: 400;
    font-size: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #1FBAD6; }
  .worldwide::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #070716;
    position: absolute;
    top: 0;
    z-index: -1; }

footer {
  min-height: 155px;
  padding: 14px 0 40px 0; }
  footer .line_delim {
    width: 300px;
    height: 5px;
    background-color: #1EACC7;
    margin: 0 auto; }
  footer ul {
    list-style: none; }
  footer .social_container {
    display: inline; }
    footer .social_container img {
      width: 32px; }
    footer .social_container li {
      margin-left: 9px;
      display: inline-block; }
  footer .footer {
    display: inline;
    width: 100%;
    text-align: center; }
    footer .footer_links {
      width: 420px; }
      footer .footer_links_main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin-top: 35px; }
        footer .footer_links_main a {
          font-weight: 300;
          font-size: 15px;
          text-transform: uppercase;
          color: #070716; }
      footer .footer_links_sub {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin-top: 14px; }
        footer .footer_links_sub a {
          font-weight: 300;
          font-size: 11px;
          text-transform: uppercase;
          color: #999999; }
  footer .language a {
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #1EACC7;
    margin-top: 18px; }

/*# sourceMappingURL=style.css.map */