@media (max-width: 1200px) {
    .container {
        max-width: 900px;
    }
    .promo {
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .carousel {
        &__inner {
            width: 800px;
        }
        .container {
            width: 800px;
        }
    }
    .catalog-item {
        max-width: 280px;
    }

}

@media (max-width: 991px) {
    .container {
        max-width: 700px;
    }
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 11px;
            span{
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 16px;
        }
        .button {
            font-size: 11px;
            width: 140px;
            height: 25px;
        }
    }
    .promo {
        background-position: 25% 50%;
        &__wrapper {
            button {
                width: 280px;
                height: 45px;
            }
        }
    }

    .benefits {
        .benefit {
            width: 205px;
        }
    }

    .carousel {
        .container {
            width: 700px;
        }
        .tns-item {
            img {
            max-width: 550px;
            }
        }
        .prev {
            left: 0;
        }
        .next {
            right: 0;
        }

    }

    .catalog {
        &__content {
            justify-content: space-around;
        }
    }

    .feedback__content {
        padding-left: 50px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 500px;
    }
    .header {
        &__logo {
            width: 160px;
        }
        &__official {
            font-size: 10px;
            span{
                font-size: 14px;
            }
        }
        &__phone {
            font-size: 12px;
        }
        .button {
            font-size: 10px;
            width: 116px;
            height: 20px;
        }
    }
    .promo {
        min-height: 600px;
        background-position: 25% 50%;
        &__header {
            font-size: 34px;
        }
        &__subheader {
            font-size: 18px;
            margin-top: 6px;
        }
        &__icons {
            width: 405px;   
        }
        &__icon {
            font-size: 12px;
            img {
                margin-bottom: 10px;
            }
        }
        .button_main {
            font-size: 15px;
            width: 240px;
            height: 34px;
        }
        &__link {
            margin-top: 14px;
            font-size: 15px;
        }
    }
    .benefits {
        &__wrapper {
            min-height: 700px;
            flex-direction: column;
            align-items: center;
        }
        .benefit {
            width: 300px;
        }
    }

    .consultation {
        .title {
            font-size: 28px;
        }
        &__descr {
            font-size: 18px;
        }
    }

    .carousel {
        .tns-item {
            img {
            max-height: 200px;
            }
        }
    }

    .catalog {
        &-item {
            max-width: 240px;
            &__subtitle {
                font-size: 15px;
            }
            &__price {
                font-size: 18px;
            }
                .button_mini {
                    width: 90px;
                    height: 30px
                }
        }
    }

    .feedback {
        &__image {
            padding-top: 10px;
            img {
                width: 120px;
                height: 120px;
            }
        }
        &__content {
            padding-left: 40px;
        }
        &__text {
            font-size: 14px;
        }
    }

}

@media (max-width: 575px) {
    .container {
        max-width: 280px;

    }
    .header {
        &__official {
            display: none;
        }
        &__logo {
            width: 150px;
        }
        &__phone {
            font-size: 11px;
        }
        .button {
            width: 106px;
            height: 19px;
        }
    }
    .promo {
        padding-bottom: 40px;
        &__header {
            font-size: 28px;
            line-height: 35px;
        }
        &__subheader {
            font-size: 16px;
            margin-top: 0;
        }
        &__icons {
            width: 100%;
            margin-top: 40px;
        }
        &__icon {
            width: 85px;
            font-size: 11px;
        }
        .button_main {
            font-size: 14px;
            width: 210px;
            height: 30px;
        }
        &__link {
            margin-top: 10px;
            font-size: 14px;
        }
    }
    .benefits {
        padding-bottom: 50px;
        &__header {
            font-size: 26px;
        }
        &__wrapper {
            min-height: 600px;
            margin-top: 50px;
            flex-direction: column;
            .benefit {
                width: 100%;
                &__header {
                    margin-top: 15px;
                    line-height: 18px;
                }
                &__descr {
                    margin-top: 12px;
                }
            }
        }
    }

    .consultation {
        padding: 60px 0;
        min-height: 600px;
        .title {
            font-size: 18px;
        }
        &__descr {
            font-size: 16px;
            margin-top: 18px;
        }
        form {
            width: 280px;
            input {
                height: 45px;
            }
            .button_submit {
                height: 50px;
            }
        }
    }

    .carousel {
        .prev, .next {
            display: none;
        }
        .tns-item {
            img {
            max-width: 280px;
            }
        }
    }

    .catalog {
        padding-bottom: 70px;
        .title {
            font-size: 26px;
        }
        &__tabs {
            margin-top: 50px;
            flex-direction: column;
            height: 140px;
            justify-content: space-between;
        }
        &__tab {
            width: 200px;
            height: 40px;
            line-height: 38px;
        }
        &__content {
            .catalog-item:nth-child(n+3) {
                display: none;
            }
        }
        &__more {
            display: block;
        }
    }

    .feedbacks {
        .title {
            font-size: 26px;
        }
    }
    .feedback {
        flex-direction: column;
        align-items: center;
        &__content {
            padding-left: 0;
        }
        &__header, &__subheader {
            text-align: center;
        }
        &__header {
            margin-top: 5px;
        }
    }

}